src/my.log
src/__pycache__/log.cpython-36.pyc
src/__pycache__/models.cpython-36.pyc
src/__pycache__/mysql.cpython-36.pyc
src/spider/__pycache__/price.cpython-36.pyc
src/__pycache__/models.cpython-36.pyc
src/spider/__pycache__/
